/**
* Fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@400;700&display=swap');

/**
* Loader
*/
body {
    background-color:#2d2d2d;
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loader {
    border: 16px solid #4C605D;
    border-top: 16px solid #000000;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: loader 2s linear infinite;
  }
  
  @keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
* App
*/
.app_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
}
.app_logo {
    width: auto;
    height: 30px;
    margin-right: 30px;
}

.coffee_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    margin: 0 auto;
    max-width: 1170px;
    width: auto;
    padding: 50px 60px;
}

@media (max-width: 900px) {
    .coffee_grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 50px;
        row-gap: 50px;
    }
}

@media (max-width: 768px) {
    .coffee_grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 550px) {
    .coffee_grid {
        display: block;
    }
    .coffee_grid .coffee_el {
        padding-bottom: 30px;
    }
    .app_title {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}

.coffee_grid .coffee_el {
    cursor: pointer;
}

.coffee_grid .coffee_el .coffee_name {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
}

.coffee_details {
    background-color: rgba(255, 255, 255, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: none;
}
.coffee_details.visible{
    display: flex !important;
}

.coffee_details .coffee {
    max-width: 700px;
    min-height: 400px;
    height: auto;
    width: 80%;
    background-color: #fff;
    padding: 30px 60px;
}

.coffee_details .coffee .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 40px;
}

.coffee_details .coffee .head h2 {
    color: #2d2d2d;
}

.coffee_details .coffee .head .cerrar_modal {
    padding-right: 30px;
    font-size: 40px;
    text-decoration: none;
    color: #2d2d2d;
}
.coffee_details .coffee .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.coffee_details .coffee .content .modal_coffee {
    float: left;
    width: 40%;
    margin-right: 40px;
}
.coffee_details .coffee .content .modalDescription {
    color: #2d2d2d;
    float: right;
    width: 60%;
}

@media (max-width: 768px) {
    .coffee_details .coffee .content {
        display: block;
    }
    .coffee_details .coffee .content .modal_coffee {
        float: unset;
        width: 60%;
        margin: 0 auto;
    }
    .coffee_details .coffee .content .modalDescription {
        width: 100%;
    }
}